/**
 * Styling for filesystem UI
 */

.files .friendlycode-toolbar {
  width: auto;
  left: 0px;
  right: 0;
}

.files .friendlycode-panes {
  left: 80px;
}

.friendlycode-files {
  position: absolute;
  width: 80px;
  height: 100%;
  top: 41px; /* Same height as .editor-pane-nav-options */
  bottom: 0;
  left: 0;
  border-right: 1px solid #ddd;
}

.friendlycode-files ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.friendlycode-files li {
  margin: 0;
  padding: 0;
  display: block;
  width: 79px;
  height: 79px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
}

.friendlycode-files li.active {
  height: 100px;
}

.friendlycode-files li:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.friendlycode-files li:before {
  font-size: 25px;
  display: block;
  width: 100%;
  height: 55px;
  line-height: 100%;
}

.friendlycode-files .toolbar {
  position: absolute;
  top: 75px;
  width: 79px;
  height: 25px;
  border-top: 1px solid #ddd;
  background: white;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

.friendlycode-files .toolbar button {
  border: none;
  background: none;
  width: 79px;
  height: 20px;
}

.friendlycode-files .add-file {
  color: #888;
}

.friendlycode-files .add-file:before {
  content: "+";
  color: #ccc;
  font-size: 75px;
  line-height: 55px;
}

.friendlycode-files .type-html:before {
  content: "HTML";
  color: #E54D26;
  line-height: 55px;
  font-weight: bold;
}

.friendlycode-files .type-css:before {
  content: "CSS";
  color: #339ED6;
  line-height: 55px;
  font-weight: bold;
}

.friendlycode-files .type-js:before {
  content: "JS";
  color: #4BD633;
  line-height: 55px;
  font-weight: bold;
}

.friendlycode-files .download-all {
  position: absolute;
  bottom: 41px;
  top: auto;
  border-bottom: none;
  border-top: 1px solid #ddd;
}

.friendlycode-files .download-all:before {
  font-family: 'Glyphicons Halflings';
  font-size: 35px;
  line-height: 50px;
  color: #888;
}
