<!doctype html>
<html>
  <!-- base loader for postMessage based site previews.
       Note that the only thing this page does is set up
       a 100% width, 100% height iframe, into which data
       can be loaded for previewing.

       Thimble pages themselves also loadein an iframe, in
       the Friendlycode editor html page -->
  <head>
    <meta charset="utf-8">
    <title>Thimble preview loader</title>
    <style>
      html, body, iframe {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
      }
      iframe {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    </style>
    <script>
      /**
       * content management object
       */

      var fileEls = {}

      function replaceElement(oldEl, type, textContent, doc) {
        var newEl = (doc || content.doc || document).createElement(type);
        newEl.textContent = textContent;
        if (oldEl.parentNode) {
          oldEl.parentNode.insertBefore(newEl, oldEl);
          oldEl.outerHTML = '';
          return newEl;
        }
      }

      var content = {
        overwrite: function overwriteIFrame(sourceCode, files) {
          fileEls = {};

          // Create a new document for preprocessing:
          var doc = document.implementation.createHTMLDocument(),
            docEl = doc.documentElement,
            firstEl;

          docEl.innerHTML = sourceCode;
          firstEl = docEl.firstElementChild;

          // Is this an entire document or a fragment?
          if (docEl.childElementCount === 1 && firstEl.tagName.toLowerCase() === 'html') {
            doc.replaceChild(firstEl, docEl);
          }

          console.log(doc);

          // Insert CSS files
          var styleLinks = doc.querySelectorAll('link[rel=stylesheet]');
          for (var i = 0, l = styleLinks.length; i < l; i++) {
            var href = styleLinks[i].getAttribute('href');
            if (href && files[href]) {
              fileEls[href] = replaceElement(styleLinks[i], 'style', files[href], doc);
            }
          }

          // Insert JS files
          var scripts = doc.getElementsByTagName('script');
          console.log(scripts);
          for (var i = 0, l = scripts.length; i < l; i++) {
            var src = scripts[i].getAttribute('src');
            console.log(src, src in files)
            if (src && files[src]) {
              fileEls[src] = replaceElement(scripts[i], 'script', files[src], doc);
            }
          }

          // New iframe
          var iframe = document.createElement("iframe");
          iframe.style.opacity = 0.0;
          document.body.appendChild(iframe);

          // Replace iframe document with processed document
          var iframeDoc = iframe.contentDocument;
          // iframeDoc.replaceChild(iframeDoc.adoptNode(docEl), iframeDoc.documentElement);

          // console.log(iframeDoc);

          // iframe.contentDocument = iframeDoc;

          iframeDoc.open();
          iframeDoc.write('<!DOCTYPE html>' + docEl.outerHTML);
          iframeDoc.close();

          doc = content.doc = iframeDoc;

          // kill off old iframe
          document.body.removeChild(document.querySelector("iframe"));
          iframe.style.opacity = 1.0;

          // also insert a BASE tag with new tab/window as default target,
          // so that links don't open in our embed iframe.
          var baseTag = doc.createElement('base');
          baseTag.setAttribute('target', '_blank');
          doc.querySelector("head").appendChild(baseTag);
        },

        updateFile: function(sourceCode, file) {
          if (fileEls[file]) {
            var tagName = fileEls[file].tagName.toLowerCase();
            return fileEls[file] = replaceElement(fileEls[file], tagName, sourceCode)
          } else {
            return false;
          }
        }
      }

      /**
       * Listen for post messages, which can be of the following format:
       *
       *  type: overwrite  -  replace the content in its entirety
       *                      with a new iframe, with the new content.
       */
      window.addEventListener("message", function(event) {
        try {
          data = JSON.parse(event.data);
        } catch (e) {
          console.error("JSON.parse failed for preview payload", event.data);
          console.log(e);
        }

        // currently we only support "overwrite",
        // but once a good DOM diff solution is avaible,
        // we want to extend this instruction set to
        // also allow selecting diff-based updating.
        if(data.type && data.type === "overwrite") {
          if ("sourceCode" in data && typeof data.sourceCode === "string") {
            content.overwrite(data.sourceCode, data.files);
          } else {
            console.error("preview payload had no associated, valid sourceCode", event.data);
          }
        } else if (data.type && data.type === 'update-file') {
          if ("sourceCode" in data && typeof data.sourceCode === "string" && 'fileName' in data && typeof data.fileName === 'string') {
            if (content.updateFile(data.sourceCode, data.fileName) === false) {
              // content.overwrite(data.sourceCode, data.files);
            }
          } else {
            console.error("preview payload had no associated, valid fileName or sourceCode", event.data);
          }
        } else {
          console.error("preview payload had no associated instruction type", event.data);
        }
      });
    </script>
  </head>
  <body>
    <iframe></iframe>
  </body>
</html>
